.git
.gitignore
.dockerignore

.env
.env.*

node_modules
npm-debug.log
dist
coverage

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.venv/
venv/

tests/
*.md
